$bor: 2px solid black;

%basic-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



%basic-button {
  background: #4d94ff;
  color: white;
  border: none;
  padding: .3rem .7rem;
  margin: .5rem auto;
  display: block;
  transition: background 150ms;
  font-size: .75rem;
  &:hover {
    background: #1D88E3;
  }
  &:active {
    background: #6EB0E8;
  }
}

%basic-card {
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  z-index: 10;
  display: block;
  margin: 1.5rem auto;
  font-size: 1rem;
  background: white;
  text-align: center;
}

html { 
    background: url('./images/bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

form {
    @extend %basic-card;
    margin: 0;
    width: 100%;
    @media (max-width: 450px) {
        font-size: 1em;
    }
    div {
        display: inline-block;
        margin: .5rem;
        label, input, select, option {
            margin: .2rem;
            font-size: 1.1rem;
            padding: .25rem;
            @media (max-width: 450px) {
                padding: .1rem;
                margin: .1rem;
            }
        }
    }
}

.row:nth-child(even) {background-color: #f3fbff;}
#fake-table {
    width: 60%;
    min-width: 23rem;
    max-width: 40rem;
    margin: 1rem auto;
    background: #FFF;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    opacity: .95;
}
#t-header {
    @extend %basic-flex;
    justify-content: space-evenly;
    flex-shrink: 1.5;
    padding: .5rem 0;
    h2 {
        width: 33%;
        margin: 0;
        text-align: center;
        color: #454545;
        font-style: italic;
    }
}
#t-body {
    height: 85vh;
    overflow: auto;
    font-size: 1.25rem;
    color: #676767;
    @media (max-width: 970px) {
        height: 70vh;
    }
    .row {
        @extend %basic-flex;
        width: 100%;
        padding: .5rem 0;
    }
    .data {
        width: 33%;
        margin: 0;
        text-align: center;
    }
}



